* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.login-container {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    color: #af6432;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o checkbox e o label */
    margin-top: 5px;
    font-size: 15px;
}

/* Garantir que o checkbox esteja alinhado corretamente */
.checkbox-container input {
    width: 16px;
    height: 16px;
    margin: 0;

}

button {
    background-color: #af6432;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #af6432;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #af6432;
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.error {
    padding: 10px;
    font-weight: bold;
    color: red;
}
