<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Página com Navbar e Cards</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">MeuSite</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('dashboard') }}"">Dashboard</a></li>
            <li><a href="{{ url_for('gerenciamento') }}"">Gerenciar Contas e Cursos</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="cards-container">
            <div class="card">
                <div class="card-img">Imagem 1</div>
                <div class="card-content">
                    <h3 class="card-title">Serviço 1</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
                    <a href="#" class="card-button">Saiba mais</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-img">Imagem 2</div>
                <div class="card-content">
                    <h3 class="card-title">Serviço 2</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
                    <a href="#" class="card-button">Saiba mais</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-img">Imagem 3</div>
                <div class="card-content">
                    <h3 class="card-title">Serviço 3</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris. Vivamus hendrerit arcu sed erat molestie vehicula.</p>
                    <a href="#" class="card-button">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>